# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.csproj.user
*.dbmdl
*.jfm
*.log

# Packages
packages/
*.nupkg

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
